.products{
    &__content{
        padding: vw(64) vw(45) vw(73) vw(45);
        @include mobile(578px){
            padding: vmin(32) vmin(45) vmin(36) vmin(45);
        }
    }
    &__row{
        &--top{
            padding-bottom: vw(73);
            @include mobile(578px){
                padding-bottom:0;
            }
        }
        &--bottom{
            padding: vw(64) 0 vw(73) 0;
            @include mobile(578px){
                padding: 0;
            }
        }
    }
    &__items{
        margin: 0 vw(-16);
        @include mobile(578px){
            justify-content: center;
        }
    }
    &__item{
        box-sizing: border-box;
    }
}
