.products{
    &__content{
        padding: vw(64) vw(45) vw(73) vw(45);
    }
    &__row{
        &--top{
            padding-bottom: vw(73);
            @include mobile(578px){
                padding-bottom: vmin(73);
            }
        }
        &--bottom{
            padding: vw(64) 0 vw(73) 0;
            @include mobile(578px){
                padding: vmin(64) 0 vmin(73) 0;
            }
        }
    }
    &__items{
        @include mobile(578px){
            justify-content: center;
        }
    }
    &__item{
        box-sizing: border-box;
    }
}
