.item{
    padding:0 vw(16);
    box-sizing: border-box;
    @include mobile(578px){
        margin-bottom: vmin(20);
        padding:0 vmin(16);
    }
    &__content{
        box-shadow: 0 0 vw(10) 0 rgba(0, 0, 0, 0.25);
        position: relative;
        box-sizing: border-box;
        padding: vw(16);
        border: vw(1) solid #d1d1d1;
        border-radius: vw(12);
        @include mobile(578px){
            padding: vmin(16);
            border: vmin(1) solid #d1d1d1;
            border-radius: vmin(12);
        }
    }
    &__discount{
        display: none;
        padding: 0 vw(8);
        background: #F4F8EC;
        border-radius: vw(12);
        position: absolute;
        top: vw(28);
        left: vw(35);
        z-index: 3;
        font-weight: 600;
        font-size: vw(12);
        line-height: vw(18);
        color: $green;
        &.active{
            display: inline;
        }
        @include mobile(578px){
            padding: 0 vmin(8);
            border-radius: vmin(12);
            top: vmin(28);
            left: vmin(35);
            font-size: vmin(12);
            line-height: vmin(18);
        }
    }
    &__img{
        background: $dark-gray;
        border-radius: vw(12);
        min-width: 100%;
        height: vw(180);
        @include mobile(578px){
            border-radius: vmin(12);
            min-width: 100%;
            height: vmin(180);
        }
    }
    &__title{
        margin-top: vw(16);
        font-weight: 500;
        font-size: vw(15);
        line-height: vw(22);
        @include mobile(578px){
            margin-top: vmin(16);
            font-size: vmin(15);
            line-height: vmin(22);
        }
    }
    &__description{
        margin: vw(4) 0 vw(16) 0;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: vw(12);
        line-height: vw(16);
        color: #575757;
        @include mobile(578px){
            margin: vmin(4) 0 vmin(16) 0;
            font-size: vmin(12);
            line-height: vmin(16);
        }
    }
    &__row{
        align-items: center;
        justify-content: space-between;
    }
    &__column{
        flex-direction: column;
    }
    &__price{
        font-weight: 600;
        font-size: vw(18);
        line-height: vw(27);
        @include mobile(578px){
            font-size: vmin(18);
            line-height: vmin(27);
        }
    }
    &__btn{
        font-weight: bold;
        font-size: vw(15);
        line-height: vw(22);
        background: $light-green;
        padding: vw(7) vw(12);
        border:vw(2) solid #46760A;
        box-sizing: border-box;
        border-radius: vw(12);
        color:$white;
        transition: 0.3s;
        &:hover{
            background: $green;
        }
        @include mobile(578px){
            font-size: vmin(15);
            line-height: vmin(22);
            padding: vmin(7) vmin(12);
            border:vmin(2) solid #46760A;
            border-radius: vmin(12);
        }
    }
    &__prev-price{
        display: none;
        font-weight: 600;
        font-size: vw(12);
        line-height: vw(18);
        text-decoration-line: line-through;
        color:#a9a9a9 ;
        &.active{
            display: inline;
        }
        @include mobile(578px){
            font-size: vmin(12);
            line-height: vmin(18);
        }
    }
}