.navigation{
    // display: none;
    &__list{
        padding: vw(16) vw(45) ;
    }
    &__item{
        margin-right: vw(20);
        position: relative;
        &:not(:last-child){
            &::before{
            position: absolute;
            content:"/";
            right: vw(-12);
            top: 60%;
            font-size: vw(12);
            color: #A9A9A9;
            transform: translateY(-50%);
            }
        }
    }
    &__link{
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        font-size: vw(12);
        line-height: vw(16);
        color: #A9A9A9;
        @include mobile(578px){
            font-size: vmin(12);
            line-height: vmin(16);
        }
    }
}

.activeLink{
    color: $black;
}