.section-header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: vw(42);
    &__title{
        font-weight: 600;
        font-size: vw(18);
        line-height: vw(27);
    }
    &__btn{
        position: relative;
        font-weight: bold;
        font-size: vw(15);
        line-height: vw(22);
        padding: vw(6) vw(2);
        background: transparent;
        border-radius: vw(12);
        &::before{
            position: absolute;
            content: "";
            top: 50%;
            right: vw(-14);
            width: vw(4);
            height: vw(4);
            border: vw(2) solid $green ;
            border-top: none;
            border-left: none;
            transform: translateY(-14%) rotate(-45deg);
        }
    }
}