@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: $black;
    background: $gray;
}
a {
    text-decoration: none;
    display: inline-block;
    color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
span {
    display: inline-block;
}
input {
    outline: none;
    border: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
