.container {
    max-width: vw(1260);
    margin: 0 auto;
    background: $white;
    @include mobile(578px) {
        max-width: 100%;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
.col-9 {
    width: 75%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66%;
}
.col-4 {
    width: 33.33%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66%;
}
.col-1 {
    width: 8.33%;
}
.link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: vw(12);
    line-height: vw(16);
    color: $green;
    text-decoration: underline;
    @include mobile(578px) {
        font-size: vmin(12);
        line-height: vmin(16);
    }
}
@include mobile(578px) {
    .col-9 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-1 {
        width: 100%;
    }
}
