@mixin flex-center($justify-value: center, $align-value: center) {
	display: flex;
	justify-content: $justify-value;
	align-items: $align-value;
}
@mixin mobile($screen-width) {
	@media screen and (max-width: $screen-width) {
		@content;
	}
}